$bg-color: #f6efe8;
$accent-color: #611f69;
$text-color: #1d1d1d;
$accent-blue: #1264a3;
@media (max-width: 1000px) {
  .hero {
    display: flex !important;
    align-items: center !important;
    flex-direction: column !important;
    padding: 2rem !important;
    .hero-left {
      display: flex;
      flex-direction: column;
      align-items: center !important;
      margin: 0 !important;
      button {
        text-align: center !important;
        width: 100%;
      }
      .hero-title {
        text-align: center !important;
      }
      .hero-paragraph {
        text-align: center !important;
        width: 100% !important;
        max-width: none !important;
      }
      .hero-learn-btn {
        max-width: 400px;
      }
      small {
        margin-bottom: 1rem;
      }
    }
    .hero-right {
      margin: 0rem !important;
    }
  }
}

@media (max-width: 850px) {
  nav {
    .left-navigation {
      .links {
        display: none !important;
      }
    }
  }

  .hero-left {
    width: 100% !important;
    margin: 0 !important;
  }
}

@media (max-width: 620px) {
  nav {
    .right-navigation {
      .launch,
      .talk {
        display: none !important;
      }
    }
  }
  .menu {
    display: block !important;
  }

  .hero-title {
    font-size: 2.5rem !important;
  }

  .promo {
      border-radius: 5px !important;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  outline: none;
}

body,
html {
  width: 100%;
  height: 100%;
  background: $bg-color;
}

button {
  border: 0;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

nav {
  max-width: 2000px !important;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  .left-navigation {
    display: flex;
    align-items: center;
  }
  .logo {
    display: flex;
    align-items: center;
    h1 {
      font-weight: 900;
    }
  }

  ul {
    margin-left: 2rem;
    list-style: none;
    display: flex;
    li {
      font-weight: 700;
      margin: 0 10px;
      a {
        color: $text-color;
        text-decoration: none;
      }
    }
  }

  .right-navigation {
    display: flex;
    align-items: center;
    button {
      padding: 10px;
      border-radius: 2px;
    }
    .talk {
      background: $bg-color;
      color: $accent-color;
      border: solid 1px $accent-color;
    }
    .launch {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 1rem;
      background: $accent-color;
      color: $bg-color;
      sy {
        margin-left: 8px;
      }
    }

    .menu {
      background: $bg-color;
      border: solid 2px $accent-color;
      padding: 0 5px;
      font-size: 2rem;
      color: $accent-color;
      display: none;
    }
  }
}

.promo {
  max-width: 2000px !important;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  margin: 0 2rem;
  border-radius: 4rem;
  color: $bg-color;
  background: $accent-blue;
  span {
    cursor: pointer;
    font-weight: 500;
    font-size: 1.4rem;
    margin-left: 1rem;
  }
}

.hero {
  max-width: 2000px !important;
  display: flex;
  justify-content: space-between;
  padding: 4rem 10px 4rem 4rem;
  .hero-title {
    font-size: 3rem;
  }
  .hero-paragraph {
    max-width: 400px;
    margin-bottom: 2rem;
  }

  .hero-learn-btn {
    background: $accent-color;
    color: $bg-color;
    border-radius: 4px;
    padding: 1rem 1.5rem;
  }

  small {
    display: block;
    font-weight: 600;
    margin-top: 14px;
  }

  .hero-right {
    img {
      width: 100%;
    }
  }

  .hero-left {
    color: $text-color;
    max-width: 600px;
    margin-right: 2rem;
  }
}
